<form class="bg-light-red mw7 center pa4 br2-ns ba b--black-10"
  #searchForm="ngForm" (ngSubmit)="submit(searchForm)">
  <fieldset class="cf bn ma0 pa0 black-80">

    <legend class="pa0 f5 mb3">Search for blog posts</legend>

    <div class="flex">

      <input class="f5 input-reset bn bg-white pa3 lh-solid w-100 flex-auto br2 br--left"
        type="text"
        name="query"
        (keyup)="submit(searchForm)"
        ngModel>

      <input class="f5 button-reset pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w4 br2 br--right"
        type="submit"
        value="Search">
    </div>

  </fieldset>
</form>
